.container {
    width: 40%;
    margin: auto;
    padding: 20px;
    margin-top: 8%;
    border: 1px solid rgb(88, 86, 86);
    box-shadow: 0 0 0 rgba(0, 0, 0, 1);
}

input {
    height: 30px;
    width: 100%;
    padding: 10px;
    outline: none;
}